<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<form method="POST" action="/upload" enctype="multipart/form">
	<input type="file" name='file' class="form-control"><br>
	<input type="submit" class="form-control">
</form>
</html>