<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<form class="form-inline" method='post' action='/upload' enctype="multipart/form-data">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">You have selected </div>
       <input class="form-control" type='file' name='file'>
      <div class="input-group-addon">file</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Upload File</button>
</form>
</html>